---
meta:
  description: Armorer is a minimal and beautiful KJV web reader
  type: website
eleventyComputed:
  title: Armorer
  meta:
    image: "{{ site.base_url }}/img/armorer-social.png"
---

<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ meta.description }}">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ meta.description }}">
    <meta property="og:type" content="{{ meta.type }}">
    <meta property="og:url" content="{{ site.base_url }}{{ page.url }}">
    <meta property="og:image" content="{{ meta.image }}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#212529">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="msapplication-TileColor" content="#212529">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#212529">
    
    <title>{{ title }}</title>
    
    {% set css %}
      {% include "../css/styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      [x-cloak] { display: none !important; }
    </style>
  </head>
  <body>
    <div id="site-wrapper" x-data="searchContext">
      <header class="container p-1 bg-dark">
          <div class="row g-0">
              <div class="col-auto">
                <a href="/" class="fs-4 link-light p-2 text-decoration-none" id="home" aria-label="Armorer">
                  <img src="/img/book_white.png" height="45" width="45" style="vertical-align: sub;" alt="Armorer" /> 
                  <span class="d-none d-sm-inline px-3">Armorer</span>
                </a>
                </div>
              <div class="col">
                  <input 
                    type="search" 
                    class="form-control" 
                    placeholder="Search/Go to..." 
                    @keyup.enter="GoToReference(query)"
                    @keydown="setPage(0)"
                    x-model.debounce="query" 
                  />
              </div>
          </div>
      </header>
      <div id="site-content" class="overflow-auto" x-show="!query.length">
        {{ content | safe }}
      </div>
      {% include "search/search_results.njk" %}
    <script>
      var SearchWorkerPath = "{% rollup "src/js/search-worker.js" %}";
    </script>
    <script src="{% rollup "src/js/searchContext.js" %}" type="module"></script>
    <script src="{% rollup "src/js/viewport-height.js" %}" type="module"></script>
    <script src="//unpkg.com/alpinejs" defer></script>
  </body>
</html>