---
layout: base
---

<div class="page-controls">
    {% if prevPage %}
        <a href="{{ prevPage }}" class="prev"><span>❬</span></a>
    {% else %}
        <span></span>
    {% endif %}
    
    <main>
        <header>
            <h1>{{ pageHeader }}</h1>
        </header>
        <article>
            {{ content | safe }}
        </article>
    </main>
    {% if nextPage %}
    <a href="{{ nextPage }}" class="next"><span>〉</span></a>
    {% else %}
        <span></span>
    {% endif %}
</div>