<!-- Alpine.js: nested within searchContext -->

<nav x-show="paginationTotalPages > 1" aria-label="Search results page">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button 
            :class="{'page-link': true, 'disabled': paginationCurrentPage === 1}" 
            @click="prevPage" 
            :disabled="paginationCurrentPage === 1"
            aria-label="Previous"
        >
            <span aria-hidden="true">&laquo;</span>
        </button>
        </li>
        <template x-for="page in paginationPageList">
            <li :class="{'page-item': true, 'active': page === paginationCurrentPage}" >
                <button 
            class="page-link" 
            @click="setPage(page)" 
            x-text="page"></button>
            </li>
        </template>
        <li class="page-item">
            <button 
            :class="{'page-link': true, 'disabled': paginationCurrentPage === paginationTotalPages}" 
            @click="nextPage" 
            :disabled="paginationCurrentPage === paginationTotalPages"
            aria-label="Next"
        >
            <span aria-hidden="true">&raquo;</span>
        </button>
        </li>
    </ul>
</nav>