<!-- Alpine.js: nested within searchContext -->

<nav aria-label="Search results page" data-pagination class="d-none">
    <template id="pagination-button">
        <li class="page-item" >
            <button class="page-link"></button>
        </li>
    </template>
    <ul class="pagination justify-content-center">
        <li class="page-item" data-prev-page>
            <button 
            class="page-link" 
            aria-label="Previous"
        >
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li class="page-item" data-next-page>
            <button 
            class="page-link"
            aria-label="Next"
        >
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>