/**
 * General styles
 */

main {
    margin: 0 auto;
    padding: 0 20px;
}
html, body {
    font-size: 16pt;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none !important;
}
a:hover {
    text-decoration: underline !important;
}

/**
 * Table of Contents
 */

ul.toc {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 5px;
}

/**
 * Page navigation controls
 */

.page-controls {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
}
.page-controls > a {
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0.5;
    width: 10vw;
    min-width: 50px;
    max-width: 100px;
}
.page-controls > a:hover {
    opacity: 0.8;
}
.page-controls > a span {
    width: 10vw;
    min-width: 50px;
    max-width: 100px;
    top: 50vh;
}

/**
 * Highlighting verses
 */
.verse:target {
    background-color: rgba(255, 255, 255, 0.1);
    scroll-margin-top: 100px;
}