/**
 * General styles
 */
@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Regular.ttf');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Italic.ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-Bold.ttf');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: "Merriweather";
    src: url('/fonts/Merriweather-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html,
body {
    font-size: 16pt;
    font-family: "Merriweather", serif !important;
    font-weight: normal !important;
    overflow: hidden;
}

/**
 * Default link styles
 */
#site-wrapper>div a {
    text-decoration: none !important;
}

#site-wrapper>div a:hover {
    text-decoration: underline !important;
}

#site-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;

    height: 100vh;
    /* fallback */
    height: calc(var(--vh, 1vh) * 100);
    /* see js/viewport-height.js */
}

/**
 * Table of Contents
 */

ul.toc {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

ul.toc a {
    min-width: 50px;
}

/**
 * Page navigation controls
 */

.page-controls {
    position: fixed;
    top: 50vh;
    width: 100%;
    pointer-events: none;
}

.page-controls>div {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.page-controls a {
    opacity: 0.5;
    pointer-events: all;
}

.page-controls a:hover {
    text-decoration: none !important;
    opacity: 0.8;
}

/**
 * Highlighting verses
 */
p {
    position: relative;
    text-indent: 1em;
}

*[data-indent] {
    display: block;
    text-indent: 0;
}
*[data-indent="1"] {
    padding-left: 2.5em;
}
*[data-indent="2"] {
    padding-left: 3.5em;
}
*[data-indent="3"] {
    padding-left: 4.5em;
}

.verse-no {
    vertical-align: super;
    line-height: 0;
    font-size: 0.75em;
    scroll-margin-top: 100px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    user-select: none !important;
    color: var(--bs-dark-text);
}

.verse-no.poem {
    position: absolute;
    left: 0px;
    margin-top: 0.6em;
}

.small-caps {
    font-variant: small-caps;
}

article h2 {
    font-size: 1.3em;
}
article h3 {
    font-size: 1.15em;
}

.footnote {
    display: none;
}

.hide-verse-numbers .verse-no {
    display: none;
}

.verse:target {
    background-color: rgba(255, 255, 255, 0.1);
}

.logo {
    background-image: url('/img/book_white.png');
    background-size: contain;
    width: 100px;
    height: 100px;
    display: inline-block;
}

body * {
    scrollbar-color: var(--bs-border-color) var(--bs-dark-bg);
    scrollbar-width: thin;
}

body *::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

body *::-webkit-scrollbar-track {
    background: var(--bs-dark-bg);
}

body *::-webkit-scrollbar-thumb {
    background-color: var(--bs-border-color);
    border-radius: 2px;
    border: 1px solid var(--bs-dark-bg);
}