---
layout: base
pagination:
    data: bible.books
    size: 1
    alias: book
    resolve: values
permalink: "{{ book.slug }}"
eleventyComputed:
    title: "Armorer | {{ book.title }}"
    pageHeader: "{{ book.title }}"
---
<main class="container mt-3">
    <header>
        <h1><a href="{{book.slug}}" class="link-light">{{ book.title }}</a></h1>
    </header>
    <article>
        <ul class="toc list-unstyled">
        {% for chapter in range(1, book.chapters + 1) %}
            <li class="border border-light"><a href="/{{book.title | slug}}/{{chapter}}/" class="d-block p-2 text-center link-light">{{chapter}}</a></li>
        {% endfor %}
        </ul>
    </article>
</main>