---
layout: article
pagination:
    data: bible.books
    size: 1
    alias: book
permalink: "{{ book.title | slug }}/"
eleventyComputed:
    title: "Armory | {{ chapter.book }}"
    pageHeader: "{{ book.title }}"
---

{{ book.introduction | safe }}

<ul class="toc">
{% for chapter in range(1, book.chapters + 1) %}
    <li><a href="/{{book.title | slug}}/{{chapter}}/">Chapter {{chapter}}</a></li>
{% endfor %}
</ul>