---
layout: paginated_article
pagination:
    data: bible.chapters
    size: 1
    alias: chapter
permalink: "{{ chapter.slug }}"
eleventyComputed:
    title: "Armory | {{ chapter.book }} {{ chapter.chapter }}"
    pageHeader: "Chapter {{ chapter.chapter }}"
    prevPage: "{{ chapter.prevChapter }}"
    nextPage: "{{ chapter.nextChapter }}"
---

{{ chapter.content | safe }}