---
layout: base
title: "Armorer"
---

<main class="container mt-3">
    <article>
        <div class="mb-5">
            <img src="/img/book_white.png" width="100" height="100" class="d-block mx-auto" alt="Armorer logo" />
            <h1 class="text-center mb-5">Armorer</h1>
            <p class="text-center mb-3">
                A beautiful minimal web reader for the King James Version of the Bible.
            </p>
            <p class="text-center mb-3">
                No ads, commentaries, notes, or distractions. Just the Bible.
            </p>
            <p class="text-center mb-3">
                View the <a href="https://github.com/glitchassassin/armorer">source code</a> or <a href="https://github.com/glitchassassin/armorer/issues">report issues</a> on GitHub.
            </p>
        </div>
        <hr class="m-5" />
        <div class="mb-3">
            <h2 class="text-center">Old Testament</h2>
            <ul class="toc list-unstyled mb-5">
            {% for slug, book in bible.books %}
            {% if book.testament === "O" %}
                <li class="border border-light"><a href="{{slug}}" class="d-block p-2 text-center link-light">{{book.title}}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
            
            <h2 class="text-center">New Testament</h2>
            <ul class="toc list-unstyled">
            {% for slug, book in bible.books %}
            {% if book.testament === "N" %}
                <li class="border border-light"><a href="{{slug}}" class="d-block p-2 text-center link-light">{{book.title}}</a></li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
        <hr class="m-5" />
        <div>
            <h2 class="fs-5">Credits</h2>
            <a href="https://www.flaticon.com/free-icons/study" title="study icons" style="font-size: 0.8em;">Study icons created by Freepik - Flaticon</a>
        </div>
    </article>
</main>